@tailwind preflight;
@tailwind components;
@tailwind utilities;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');

// Variables
@import 'variables';

.btn {
    @apply rounded font-bold px-4 py-2;
}

.btn-group-left {
    @apply rounded rounded-r-none font-bold px-4 py-2;
}

.btn-group-right {
    @apply rounded rounded-l-none font-bold px-4 py-2;
}

.btn-blue {
    @apply bg-blue text-grey-lightest;

    &:hover {
        @apply bg-blue-dark;
    }
}

.btn-link.text-white:visited {
    color: white;
}

.btn-red {
    @apply bg-red text-grey-lightest;
}

.btn-blue-rev {
    @apply bg-white text-blue border-blue border;
}

.btn-teal {
    @apply bg-teal text-grey-lightest;

    &:hover {
        @apply bg-teal-dark;
    }
}

.btn-teal-dark {
    @apply bg-teal-dark text-grey-lightest;

    &:hover {
        @apply bg-teal-darker;
    }
}

.btn-grey {
    @apply bg-grey-darker text-grey-lightest;

    &:hover {
        @apply bg-grey-darkest;
    }
}

.card {
    @apply mt-8 mb-4 mx-4 bg-white shadow-md rounded px-8 pt-6 pb-8 flex flex-col;
}

.form-container {
    @apply mt-8 mb-4 mx-4 bg-white shadow-md rounded px-8 pt-6 pb-8 flex flex-col;
}

.form-field {
    @apply shadow appearance-none border rounded w-full my-2 py-2 px-3;
    @apply text-grey-darker leading-tight;

    &-error {
        @apply border-red;
    }
}

.form-field-inline {
    @apply shadow appearance-none border rounded my-2 py-2 px-3;
    @apply text-grey-darker leading-tight;
}

.form-field:focus {
    @apply outline-none shadow-outline;
}

.alert {
    @apply border border-red-light flex justify-center items-center rounded bg-red-lightest px-4 py-3 text-red-dark;
    position: absolute;
    top: .3em;
    right: .5em;
    transition: visibility 500ms, opacity 500ms linear;
    transition-delay: 1s;
}

.inactive {
    visibility: hidden;
    opacity: 0;
}

.notice {
    @apply border border-blue-darker flex justify-center items-center bg-blue rounded text-grey-lightest text-sm font-bold px-4 py-3;
    position: absolute;
    top: .3em;
    right: .5em;
    transition: visibility 500ms, opacity 500ms linear;
    transition-delay: 1s;
}

.success {
    @apply border border-green-darker flex justify-center items-center bg-green rounded text-grey-lightest text-sm font-bold px-4 py-3;
    position: absolute;
    top: .3em;
    right: .5em;
    transition: visibility 500ms, opacity 500ms linear;
    transition-delay: 1s;
}

.link {
    @apply text-blue-lighter flex items-center;
}

.link:hover {
    @apply text-white;
}

.link:visited {
    @apply text-blue-lighter;
}


.home-link {
    @apply text-white tracking-tight;
}

.home-link:hover {
    @apply text-white;
}

.home-link:visited {
    @apply text-white;
}

.brand-name {
    @apply font-semibold text-xl home-link;
}

.brand-name:hover {
    @apply text-white;
}

.brand-name:visited {
    @apply text-white;
}

:focus {
    outline: rebeccapurple auto 2px;
}

a:focus {
    outline: none;
}

a {
    @apply text-blue;
    text-decoration: none;
}

a:visited {
    @apply text-blue;
    text-decoration: none;
}

button:disabled,
button:disabled:hover {
    background-color: #888888;
    color: #444444 !important;
}

body {
    @apply text-grey-darkest;
    font-family: 'Lato', 'Open Sans', 'Roboto', sans-serif, monospace;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}
